* {
  margin: 0px;
  font-family: "Lato", sans-serif;
}
/* Header part CSS */

#coverimg {
  width: 450px;
  padding-right: 120px;
}
.coverhead {
  color: #272727;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
}
.coverdescription {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.btn-primary {
  border: none;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.cover {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.coverinfo {
  padding: 10%;
}

header {
  background-color: rgba(229, 84, 115, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 8%;
}

.navtitle {
  font-size: 38px;
  font-weight: 800;
  cursor: pointer;
}

.text-nav {
  color: #e55473;
}

.navoption {
  display: flex;
}
nav ul {
  list-style: none;
  display: flex;
  margin-right: 40px;
  align-items: center;
}

nav li {
  font-size: 20px;
  color: black;
  font-weight: 500;
  margin-right: 35px;
  cursor: pointer;
}

.btn-login {
  border: none;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.1);
  color: black;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 30px;
}
.btn-login:hover {
  background-color: #e55473;
  cursor: pointer;
}
ul a {
  text-decoration: none;
}

/* Feature CSS */
.feature-container {
  margin-top: 80px;
  text-align: center;
}
.featuretitle {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.box-container {
  display: flex;
  justify-content: space-between;
  width: 78%;
  margin: auto;
  margin-bottom: 20px;
}
.box-feature {
  width: 300px;
  height: 460px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img-feature {
  width: 300px;
  height: 400px;
  border-radius: 300px 300px 0px 0px;

  padding-top: 20px;
}
#flowername {
  color: black;
  font-size: 18px;
  font-weight: 600;
  color: #272727;
}
#imgbox {
  max-width: 265px;
}
.box1-bg {
  background: rgba(167, 33, 98, 0.15);
}
.box2-bg {
  background: rgba(5, 151, 160, 0.15);
}
.box3-bg {
  background: rgba(71, 125, 17, 0.15);
}

.support-container {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 120px;
  height: 250px;
  align-items: center;
  
}

.hotdealcontainer {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 550px;
  text-align: center;
  padding: 0% 13%;
}

.ins-container {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.ins-boxcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  gap: 15px;
}
.subs-container {
  background-image: url("../Asset/Rectangle9.png");
  background-size: 100%;
  width: 80%;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: auto;
  height: 500px;
  text-align: center;
}
.subs-info {
  padding-top: 50px;
}
.inputfield {
  width: 60%;
  height: 58px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 20px;
  padding-left: 10px;
}
.btn-submscribe {
  border: none;
  font-size: 28px;
  padding: 12px 30px;
  border-radius: 10px;
  background-color: #e55473;
  color: white;
}
.btn-submscribe:hover {
  background-color: darkred;
  cursor: pointer;
}
.footerinfo {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 50px;
}
footer {
  background: #111010;
  height: 350px;
  text-align: center;
  padding-top: 10%;
}
.footertitle {
  font-size: 38px;
  font-weight: 800;
  cursor: pointer;
  color: #e55473;
  margin-bottom: 30px;
}
.footertext{
  color: white;
}
.footerdescription{
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
